.card:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
}

.attendence-box {
  border-radius: 20px !important;
  box-shadow: -2px -2px 5px #10152b, 2px 2px 5px#10152b !important;
}

/* .div-punch {
  text-align: center !important;
} */
